
@import url("https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");

/* body {
    background-color: darkgray;
} */

#top {
    margin-top: -400px;
}

#floatLinks {
    z-index: 5;
    position: fixed;
    /* left: -99px; */
    left: 0px;
    top: 50%;
    text-align: right;
    /* width: 180px;
    height: 90px;
    border-radius: 50px;
    background-color: black;
    color: white; */
}

#floatLinks a:hover {
    margin-left: 50px;
}

.icons {
    list-style-type: none;
    background-color: black;
    padding: 20px;
    border-radius: 10%;
    margin-left: -10px;
}

.nav-item a:hover {
    background-color: #04AA6D;
    border-radius: 10px;
    padding-left: 10px;
}

/*
.floatTop a:hover {
    background-color: gray;
    margin-left: 50px;
}
.floatMid {
    background-color: gray;
}
.floatBot {
    background-color: gray;
} */

span {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,.1);
}

span img {
    height: 600px;
    width: 600px !important;
    /* box-shadow: 0 1px 20px 0 rgba(0,0,0,.1); */
}

#bannerImg img {
    width: 100%;
}



#one, #two, #three, #four {
    padding-top: 100px;
}

#oneInfo {
    margin-top: -500px;
}

@media screen and (max-width: 1250px) {
    #top {
        padding-top: 200px;
    }
}

@media screen and (max-width: 1000px) {
    .navbar-nav {
        float: none;
        display: block;
    }
}

@media screen and (max-width: 700px) {
    #top {
        padding-top: 300px;
    }
}